---
---

main,
footer,
header
    animation-duration: 1s
    animation-timing-function: ease-in-out
    animation-delay: 0
    animation-iteration-count: 1

main
    animation-name: movemain

footer
    animation-name: movefooter

header
    animation-name: moveheader

@keyframes moveheader
    0%
        transform: translateY(-4em)
    100%
        transform: translateY(0)

@keyframes movefooter
    0%
        transform: translateY(10em)
    100%
        transform: translateY(0)

@keyframes movemain
    0%
        transform: translateX(-100vw)
    100%
        transform: translateX(0)