---
---
    
/**
 * This file contains all the options for the drawer (hamburger menu) for mobile devices
 */

{% assign colors = site.data.colors %}
    
#drawer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    transition-property: transform
    transition-duration: 0.5s

    background: #0F0

    color: white
    a
        color: inherit
        margin-bottom: 0.5em
        font-size: 1.5em
    a#close
        padding: 0.8em
        font-size: 1.3em
    a#close:hover
        background-color: rgba(255, 255, 255, 0.3)

#drawer-button-label
    height: 3rem
    width: 3rem
    background-repeat: no-repeat
    background-position: center
    background-size: 1.3em
    background-image: url("/assets/header_icons/menu.svg")