---
---

{% assign colors = site.data.colors %}

footer
    padding: 1em
    background: var(--background-color)
    display: flex
    justify-content: center
    flex-wrap: wrap
    color: var(--font-color)
    section
        margin: 1em 5em
    h1
        margin: 0
    ul
        margin: 0
    h1,
    a,
    ::marker
        color: inherit
    