---
---

{% assign colors = site.data.colors %}

*
    box-sizing: border-box
    --accent: {{ colors["accent"] }}
    --accent-alt: {{ colors["accent_alt"] }}

header
    align-self: stretch
    background: linear-gradient(to right, var(--accent), var(--accent-alt))
    font-size: 1.3em
    color: white
    a
        padding: 0.8em
        color: inherit
    a:hover
        background-color: rgba(255, 255, 255, 0.3)

@media (min-width: 25em)
    header
        .desktop-header
            display: flex
            flex-direction: row
            .header-separator
                flex-grow: 2
        .mobile-header
            display: none

@media ( max-width: 25em)
    header
        .desktop-header
            display: none
        .mobile-header
            display: flex
    
#drawer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: fixed
    left: -80vw
    top: 0
    width: 80vw
    bottom: 0

    transition-property: transform
    transition-duration: 0.5s

    background: {{ colors.drawer_background }}

    color: white
    a
        color: inherit
        margin-bottom: 0.5em
        font-size: 1.5em
    a#close
        padding: 0.8em
        font-size: 1.3em
    a#close:hover
        background-color: rgba(255, 255, 255, 0.3)

#drawer-button
    display: none

#drawer-button-label
    z-index: 1
    padding: 0.5em
    img
        height: 32px

#drawer-button:checked ~ #drawer
    transform: translateX(80vw)

body
    display: flex
    flex-direction: column
    font-family: sans-serif
    min-height: 100vh
    main
        flex-grow: 1

h1,
h2,
h3,
h4,
h5,
h6
    color: var(--accent)

a
    color: var(--accent)
    text-decoration: none

img.icon
    height: 1em

div.highlighter-rouge
    background-color: #383838
    border-radius: 5px
    padding: 1em

pre.highlight
    overflow: auto hidden
    margin: 0
    code
        margin: 0
        width: 100%
        overflow: auto

code
    padding: 0.1em 0.3em
    background-color: #383838
    color: white
    border-radius: 5px
    font-family: "Consolas", "Source Code Pro", "Hack", sans-serif