---
---
    
/**
 * This file contains all the options for the drawer (hamburger menu) for mobile devices
 */

{% assign colors = site.data.colors %}

header
    background: linear-gradient(to right, var(--background-color-one), var(--background-color-two))
    font-size: 1.3em
    color: var(--foreground-color)
    a
        padding: 0.8em
        color: inherit
    label
        padding: 0.5em
        cursor: pointer
    a, label
        img
            height: 1.5em
    a:hover, label:hover
        background: var(--link-hover-background)
    /*#dark-mode-checkbox
        display: none*/