---
---
    
/**
 * This file contains all the options for the drawer (hamburger menu) for mobile devices
 */

{% assign colors = site.data.colors %}

header
    align-self: stretch
    background: linear-gradient(to right, var(--accent), var(--accent-alt))
    font-size: 1.3em
    color: white
    a
        padding: 0.8em
        color: inherit
    button
        border: none
        outline: none
        background: inherit
        color: white
        cursor: pointer