---
---

/**
 * The layout
 */

*
    box-sizing: border-box

body
    align-items: stretch

main
    display: flex
    justify-content: center
    align-items: center

article
    max-width: 45em
    margin: 2em 1em