@import 'reset';
@import 'colors';
@import 'fonts';

@import 'components/header';
@import 'components/projects';
@import 'components/footer';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Noto Serif", serif;
    font-size: 1.1rem;
}

h1 {
    font-family: 'IBM Plex Mono', serif;
}

.section {
    padding: 2rem 3rem;
    border-top: solid 1px var(--borders);
    border-bottom: solid 1px var(--borders);

    > h2,
    > p {
        text-align: center;
    }
}

a {
    &:hover {
        text-decoration: underline;
    }

    &.button {
        padding: .5em .8em;
        border-radius: 10px;
        border: solid 2px var(--foreground);
        white-space: nowrap;

        &:hover {
            background-color: var(--foreground);
            color: var(--background);
            text-decoration: inherit;
        }
    }
}

.icon {
    height: 2em;
    margin: 0 .5em;
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(1);
    }
}

img {
    max-width: 100%;
}
