* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #333;
}

section {
    min-height: 100vh;
    padding: 2rem 3rem;
}

#banner {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    nav {
        display: flex;
        justify-content: end;

        a {
            padding: .8rem 1rem;
        }
    }

    #banner-content {
        display: grid;
        place-items: center;
        text-align: center;

        > div {
            padding-bottom: 6rem;
        }

        #avatar {
            width: 6em;
            border-radius: 50%;
        }

        #links {
            margin-top: 1.8em;
        }
    }
}

#project-list {
    li {
        margin: 2em 0;
    }

    .project {
        * {
            margin: .2em 0;
        }

        &-title {
            font-weight: bold;
            font-size: 1.2rem;
        }

        &-tags {
            display: flex;
            gap: 1ch;

            > div {
                padding: .1em .4em;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, .1);
            }
        }

        &-banner {
            width: 60ch;
        }
    }
}

a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.icon {
    height: 2em;
    margin: 0 .5em;
}
