#drawer
    position: fixed
    left: -80vw
    top: 0
    width: 80vw
    bottom: 0

#drawer-button
    display: none

#drawer-button-label
    z-index: 1

#drawer-button:checked ~ #drawer
    transform: translateX(80vw)

#drawer-button:checked ~ #drawer-button-label
    background-image: url("/static/img/header_icons/close.svg")