<header>
    <div class="desktop-header">
        {% for link in site.data.header["left"] %}
            <a href="{{ link.url }}">
                <span>{{ link.text }}</span>
            </a>
        {% endfor %}
        <span class="header-separator"></span>
        {% for link in site.data.header["right"] %}
            <a href="{{ link.url }}">
                <span>{{ link.text }}</span>
            </a>
        {% endfor %}
        <label for="dark-mode-checkbox"><img src="/assets/header_icons/lightbulb.svg"></label>
    </div>
    <div class="mobile-header">
        <input type="checkbox" id="drawer-button">
        <label for="drawer-button" id="drawer-button-label"></label>
        <div id="drawer">
            {% for link in site.data.header["left"] %}
                <a href="{{ link.url }}">
                    <span>{{ link.text }}</span>
                </a>
            {% endfor %}
            {% for link in site.data.header["right"] %}
                <a href="{{ link.url }}">
                    <span>{{ link.text }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</header>