#project-list {
    li {
        margin: 2em 0;
    }

    .project {
        * {
            margin: .2em 0;
        }

        &-title {
            font-weight: bold;
            font-size: 1.2rem;
        }

        &-tags {
            display: flex;
            gap: 1ch;

            > div {
                padding: .1em .4em;
                border-radius: 5px;
                background-color: var(--background-alt);
            }
        }

        &-banner {
            width: 60ch;
        }
    }
}
