main
    color: var(--font-color)
    background-color: var(--background-color)

    h1, h2, h3, h4, h5, h6,
    a
        color: var(--accent-color)

    a
        text-decoration: none

    img.icon
        height: 1em

    .grey
        color: grey

    div.highlighter-rouge
        background-color: #383838
        border-radius: 5px
        padding: 1em

    pre.highlight
        overflow: auto hidden
        margin: 0
        white-space: pre-wrap
        code
            margin: 0
            width: 100%
            overflow: auto

    code
        padding: 0.1em 0.3em
        border-radius: 5px

        background-color: #383838
        color: white
        
        font-family: "Consolas", "Source Code Pro", "Hack", sans-serif

    .comment
        margin-top: 1em

    .comment-author
        color: var(--accent)

    .comment-date
        color: grey

    .comment-body
        margin: 0

    .comment-answer-link
        color: grey