---
layout: article
title: Victor B.
subtitle: A 15 years old software developer
permalink: /
---

<section id="section_projects">
    <h1>My projects</h1>
    <ul>
        {% for project in site.data.projects%}
            <li>
                <a href="{{ project.link }}">{{ project.name }}</a>, {{ project.description }}
            </li>
        {% endfor %}
    </ul>
</section>
<section id="section_blog">
    <h1>My blog</h1>
    <ul>
        {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
<section id="section_contact">
    <h1>Contact me</h1>
    <p>You can contact me using</p>
    <ul>
        <li><img src="/assets/icons/discord.svg" class="icon" alt="Discord"> Victor B#8230</li>
        <li><img src="/assets/icons/gmail.svg" class="icon" alt="E-mail"> victor.bonnelle@protonmail.com</li>
    </ul>
</section>