---
layout: article
---

{{ content }}

<h1>Comments</h1>

<p><strong>Note:</strong> posting comments requires a GitHub account as it is based on issues</p>

<p><strong>Important:</strong> when creating the issue, do not change its title or it will not work</p>

<ul id="comments-list">
    <li class="comment"><a href="https://github.com/victorbnl/victorbnl.github.io/issues/new?labels=comments&body=%3C%21--%20Do%20NOT%20change%20the%20title%20of%20the%20issue%2C%20or%20it%20will%20not%20work%20--%3E%0A%0A&title=Comment%20on%20{{ page.id | url_encode }}">New comment </a></li>
</ul>

<script src="/js/loadComments.js"></script>

<script>
    loadComments("{{ page.id }}");
</script>