---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>
    <input type="checkbox" id="dark-mode-checkbox" style="display: none">
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
    <link rel="stylesheet" href="/static/css/base.css">
</body>
</html>