---
layout: article
---

<div id="post-infos">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="grey">{{ page.author }} • {{ page.date | date_to_long_string  }}</span>
</div>

{{ content }}

<h1>Comments</h1>

<section>
    <ul id="comments">
        <li class="comment"><a href="https://github.com/victorbnl/victorbnl.github.io/issues/new?labels=comments&title=Comment%20on%20{{ page.id | url_encode }}">New comment </a></li>
    </ul>
</section>

<style>
    .post-title {
        margin-bottom: 0.3em
    }

    .comment {
        margin-top: 1em
    }

    .comment-author {
        color: var(--accent)
    }

    .comment-date {
        color: grey
    }

    .comment-body {
        margin: 0
    }
</style>

<script>
    async function loadComments() {
        let comments = []
        let comments_section = document.getElementById("comments")
        let issues_response = await fetch("https://api.github.com/repos/victorbnl/victorbnl.github.io/issues")
        let issues = await issues_response.json()
        for (let issue of issues) {
            if (issue.title == "Comment on {{ page.id }}") {
                let author_response = await fetch("https://api.github.com/users/" + issue.user.login)
                let author = await author_response.json()
                let comment = {
                    author: author.name,
                    date: new Date(issue.created_at),
                    body: issue.body,
                    comments: []
                }
                let issue_comments_response = await fetch(issue.comments_url)
                let issue_comments = await issue_comments_response.json()
                console.log(issue_comments)
                for (let issue_comment of issue_comments) {
                    let user_response = await fetch("https://api.github.com/users/" + issue_comment.user.login);
                    let user = await user_response.json()
                    comment.comments.push({
                        author: user.name,
                        date: new Date(issue_comment.created_at),
                        body: issue_comment.body
                    })
                }
                comment.comments = comment.comments.sort((a, b) => {
                    return b.date - a.date
                })
                comments.push(comment)
            }
        }
        comments = comments.sort((a, b) => {
            return b.date - a.date
        });
        console.log(comments)
        for (let comment of comments) {
            let answers_string = "";
            for (let answer of comment.comments) {
                answers_string +=
                    `<li class='comment'>
                        <span class='comment-author'>
                            ${answer.author} 
                        </span>
                        <span class='comment-date'>
                             • ${answer.date.toDateString()}
                        </span>
                        <p class='comment-body'>
                            ${answer.body}
                        </p>
                    </li>`
            }
            comments_section.innerHTML += 
                `<li class='comment'>
                    <span class='comment-author'>
                        ${comment.author} 
                    </span> 
                    <span class='comment-date'>
                         • ${comment.date.toDateString()}
                    </span>
                    <p class='comment-body'>
                        ${comment.body} 
                    </p>
                    <ul>
                        ${answers_string}
                    </ul>
                </li>`
        }
    }

    loadComments();
</script>